body{
    margin: 0;
    font:13px Helvetica, arial, freesans, clean, sans-serif;
    color: #333333;
    min-width: 1000px;
    background-color: #fff;
}

div{
    display:block;
}

.jianbian{
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(#FAFAFA, #EBEBEB);/*moz*/
    background-image: -webkit-linear-gradient(#FAFAFA, #EBEBEB); /*webkit*/
    background-image: linear-gradient(#FAFAFA, #EBEBEB);
}

#header{
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #E5E5E5
}

.header_container{
    width:980px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

#header_weibologo{
    width:40px;
    height: 36px;
    float: left;
    margin-top: 4px;
}

#header_tool{
    width:935px;
    float: right;
    height: 40px;
}

#header_link{
    margin-top:0;
    width:40px;
    height:38px;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    text-align: center;
}

#header_search{
    width: 120px;
}

#header_input{
    width: 220px;
    margin-left: 20px;
    height: 23px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    color: #AAAAAA;
}

.header_tool_font{
    width: 80px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}
.header_tool_font:hover{
    cursor: pointer;
}

#header_tool_user{
    width: 290px;
    text-align: right;
}

#mainbody{
    width: 980px;
    min-height:540px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

#mainbody_left{
    width: 220px;
    height: 540px;
    float: left;
}

#mainbody_right{
    height: 540px;
    width: 740px;
    float: right;
}

.header_tool_tool{
    position:relative;
    text-align: center;
    width:25px;
    height:25px;
    line-height: 25px;
    margin-left:5px;
    display:inline-block;
    vertical-align: middle;
}

#header_username{
    min-width:50px;
    font-weight: bolder;
    text-overflow: ellipsis;
}

.header_tool_img{
    width:24px;height:19px;margin-top:2px;
}

#mainbody_left_userphoto{
    width: 220px;
    height: 220px;
}

#mainbody_left_userinfo{
    width: 220px;
    height: 290px;
    margin-top: 9px;
}

#mainbody_left_userinfo_nickname{
    font-size: 28px;
    color: #333333;
    font-weight: bolder;
    text-overflow: ellipsis;
}
#mainbody_left_userinfo_realname{
    color: #666666;
    font-size:20px;
    text-overflow: ellipsis;
}

#mainbody_left_userinfo_detail{
    margin-top: 7px;
    padding-top: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 145px;
}

#mainbody_left_follower{
    width: 220px;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 10px;
    height: 75px;
}

.mainbody_left_follower_div{
    margin-top: 10px;
    color: #222222;
    width:66px;
    height:62px;
    display: inline-block;
    text-align: center;
    line-height:23px;
    font-size: 23px;
    font-weight: bold;
}
.mainbody_left_follower_div:hover{
    cursor: pointer;
    color: #4183C4;
}

#mainbody_left_userinfo_detail_list{
    list-style: none;
}
#mainbody_left_userinfo_detail_list li{
    margin-left: -40px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}
.url{
    color: #3879D9;
    text-decoration:none;
}

.url:hover{
    color: #F29600;
    cursor:pointer;
}

#mainbody_right_menu{
    line-height:36px;
    text-align: center;
}

#mainbody_right_menu_1{
    width:129px;
    height: 36px;
    float:left;
    border: 1px solid #DDDDDD;
    border-bottom:0;
    border-right: 0;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
}

#mainbody_right_menu_2{
    width:609px;
    margin-top: 3px;
    height: 33px;
    border: 1px solid #DDDDDD;
    float:right;
    border-top:0;
    border-right: 0;
    line-height: 34px;
}

.btn_hand:hover{
    cursor:pointer;
}
.mainbody_right_menu_2_pri{
    text-align: left;
    width: 99px;
    display:inline-block;
}
.mainbody_right_menu_2_pub{
    margin-left: 20px;
    display:inline-block;
}

.clear{
    clear: both;
}
#mainbody_right_info{
    width:740px;
    height:550px;
    /*border: 1px solid #D5D5D5;*/
}
#mainbody_right_modifyUser{
    margin-left:250px;
    border:1px solid #D5D5D5;
    border-radius:3px;
    color: #333333;
    background-color: #F4F4F4;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
}

#mainbody_right_info_weibo{
    width: 740px;
    height: 180px;
    margin-top: 22px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    text-align: left;
}

#mainbody_right_info_weibo_header{
    height: 36px;
    width: 740px;
    border-bottom:1px solid #D5D5D5;
    text-align: left;
    font-weight: bold;
    font-size:15px;
}

.mainbody_right_info_weibo{
    width:730px;
    height:47px;
    line-height: 22px;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 10px;
}

.mainbody_right_info_weibo_createtime{
    width:370px;
    float: right;
    display: inline-block;
    color: #999999;
}

.mainbody_right_info_weibo_commetnt{
    display: inline-block;
    color: #4183C4;
    font-weight: bold;
}

#mainbody_right_info_chart{
    height: 187px;
    width: 740px;
    margin-top: 22px;
    border:1px solid #D5D5D5;
}

#mainbody_right_info_chart_header{
    height: 36px;
    width: 740px;
    border-bottom:1px solid #D5D5D5;
}

#mainbody_right_info_chart_total{
    width: 740px;
    height:98px;
    border: 1px solid #DDDDDD;
    border-top:0;
}

.mainbody_right_info_chart_total_div{
    width: 243px;
    height: 98px;
    border-right: 1px solid #DDDDDD;
    display: inline-block;
}

#mainbody_right_info_chart_total_div_sp{
    border: 0;
}

#specialInfo{
    visibility: hidden;
    width: 740px;
    height: 200px;
    border: 1px solid red;
    z-index: 50;
}

#publicInfo{
    visibility: hidden;
}