body{
    margin: 0;
    font:13px Helvetica, arial, freesans, clean, sans-serif;
    color: #333333;
    min-width: 1000px;
    background-color: #fff;
}

div{
    display:block;
}

#header{
    background-color:#F6F6F6;
    background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);/*moz*/
    background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3); /*webkit*/
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #E5E5E5
}

.header_container{
    width:980px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

#header_weibologo{
    width:40px;
    height: 36px;
    float: left;
    margin-top: 4px;
}

#header_tool{
    width:935px;
    float: right;
    height: 40px;
    /*border: 1px solid blue;*/
}

#header_link{
    margin-top:0;
    width:40px;
    height:38px;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

#header_search{
    width: 120px;
}

#header_input{
    width: 220px;
    margin-left: 20px;
    height: 23px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.header_tool_font{
    width: 80px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

#header_tool_user{
    width: 290px;
    text-align: right;
}

#mainbody{
    width: 980px;
    min-height:540px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

#mainbody_left{
    width: 220px;
    height: 540px;
    float: left;
}

#mainbody_right{
    height: 540px;
    width: 740px;
    float: right;
}

.header_tool_tool{
    position:relative;
    text-align: center;
    width:25px;
    height:25px;
    line-height: 25px;
    margin-left:5px;
    display:inline-block;
    vertical-align: middle;
}

#header_username{
    min-width:50px;
    font-weight: bolder;
    text-overflow: ellipsis;
}

.header_tool_img{
    width:24px;height:19px;margin-top:2px;
}

#mainbody_left_userphoto{
    width: 220px;
    height: 220px;
}

#mainbody_left_userinfo{
    width: 220px;
    height: 290px;
    margin-top: 9px;
}

#mainbody_left_userinfo_nickname{
    font-size: 28px;
    color: #333333;
    font-weight: bolder;
    text-overflow: ellipsis;
}
#mainbody_left_userinfo_realname{
    color: #666666;
    font-size:20px;
    text-overflow: ellipsis;
}

#mainbody_left_userinfo_detail{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 145px;
}

#mainbody_left_userinfo_detail_list{
    list-style: none;
}
#mainbody_left_userinfo_detail_list li{
    overflow-x:hidden;
    margin-left: -40px;
    text-overflow: ellipsis;
    font-size: 14px;
}
.url{
    color: #3879D9;
}

.url:hover{
    color: #F29600;
    cursor:pointer;
}

#mainbody_right_menu{
    line-height:36px;
    text-align: center;
    font-size: 30px;
}

#mainbody_right_menu_1{
    width:129px;
    height: 36px;
    float:left;
    border: 1px solid #DDDDDD;
    border-bottom:0;
    border-right: 0;
    border-radius: 4px;
}

#mainbody_right_menu_2{
    width:609px;
    margin-top: 3px;
    height: 33px;
    border: 1px solid #DDDDDD;
    float:right;
    border-top:0;
    border-right: 0;
}